/********GENERAL*********/
.letter-spacing-xl {
    letter-spacing: 5px;
}

.letter-spacing-normal {
    letter-spacing: normal;
}

h1 {
    font-family: Trocchi, sans-serif;
}

.rdv-btn {
    margin-top: 2rem;
}

.illustration-circle {
    border-radius: 50%;
}
.light-circle {
    background-color: #E8E8DF;
    bottom : -200px;
    right: -320px;
    height: 400px;
    width: 400px;
}
.blue-circle {
    background-color: rgba(21, 97, 109, 0.3);
    bottom : -60px;
    right: -340px;
    height: 300px;
    width: 300px;
}

/********HEADER*********/
header {
    height: 100px;
}
.navbar {
    z-index: 9999;
}
#logo {
    width: 4rem;
}

#brand-name {
    font-family: 'Trocchi', serif;
}

#navbar {
    letter-spacing: .1rem;
}

#logo-brand {
    width: 100vw;
}

.hamburger-icon {
    font-size: 3rem;
}

/********HOME*********/

#home-txt {
    text-align: center;
}

#home br {
    margin: 1.5rem;
    content: "";
    display: block;
}

#home-img-lg {
    border-radius: 50%;
    box-shadow: rgba(111, 95, 76, 0.35) 0px 48px 100px 0px;
    display: none;
}

h1 .title {
    font-family: Raleway, sans-serif;
}

.illustration-circle {
    display: none;
}
.light-circle {
    z-index: 0;
}
.blue-circle {
    z-index: 1;
}
/********TERV*********/

#terv {
    z-index: 20;
    width: 100vw;
}
.overlay {
    background-color: rgba(74, 84, 86, 0.6);
    height: 100%;
}
#terv h2 {
    font-family: Trocchi, serif;
    color : var(--bs-secondary);
}

/********GESTION DOULEUR*********/

#gestion-douleur{
    height: 800px;
    width: 100vw;
    background-color: #BBA890;
}

/*******MEDIA QUERIES*********/
@media (min-width: 578px) {
    /*Home*/
    #home br {
        margin: 1rem;
    }

    /*TERV*/
    #terv h2 {
        font-size: 2rem;
    }
    #terv p {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {

    /*Nav*/
    .navbar-nav .nav-link {
        font-size: .8rem;
    }

    #logo-brand {
        width: auto;
    }

    /*Home*/

    #home-txt {
        text-align: left;
    }

    #home{
        height: 500px;
        width: 100vw;
    }
    #home br {
        margin: 0;
    }

    #home-img {
        max-width: 400px;
    }

     #home-img-lg {
        border-radius: 50%;
        box-shadow: rgba(111, 95, 76, 0.35) 0px 48px 100px 0px;
        display: block;
    }

    #home-img-sm {
        display: none;
    }

    .illustration-circle {
        border-radius: 50%;
        display: block;
    }
    .light-circle {
        background-color: #E8E8DF;
        bottom : -200px;
        right: -100px;
        height: 320px;
        width: 320px;

    }
    .blue-circle {
        background-color: rgba(21, 97, 109, 0.2);
        bottom : -10px;
        right: -100px;
        height: 200px;
        width: 200px;

    }
    /*terv*/
    #terv{
        max-width: 100vw;
        background: #f0eeec url("/resources/img/tcc-avec-realite-virtuelle-femme-mediation.jpg") no-repeat ;
        background-size: cover;
        z-index: 10;
        position : absolute;
    }

    .overlay {
        background-color: rgba(74, 84, 86, 0.6);
        height: 100%;
        padding-top : 3rem;
        padding-bottom: 3rem;
    }
    #terv h2 {
        font-size: 2rem;
    }
    #terv p {
        font-size: 1rem;
    }
}
@media (min-width: 1000px ) {
    #home{
        height: 550px;
    }
}

@media (min-width: 1100px ) {
    #home{
        height: 620px;
    }
}

@media (min-width: 1150px ) {
    #home{
        height: 720px;
    }
}

@media (min-width: 1200px ) {
    #home{
        height: 800px;
    }
    #terv h2 {
        font-size: 2.5rem;
    }
    #terv p {
        font-size: 1.2rem;
    }
    .light-circle {
        bottom : -200px;
        right: -100px;
        height: 420px;
        width: 420px;

    }
    .blue-circle {
        bottom : -10px;
        right: -100px;
        height: 300px;
        width: 300px;

    }

}