/*HEADER */

#m-expanded-nav {
    height: 100vh;
}

#logo {
    width: 5rem;
}
#brand-name {
    font-family: 'Trocchi', serif;
}
#navbar {
    letter-spacing: .1rem;
}

#logo-brand{
    width: 100vw;
}

.hamburger-icon {
    font-size: 3rem;
}
/*MEDIA QUERIES*/

@media (min-width: 1000px) {
    .navbar-nav .nav-link {
        font-size: .8rem;
    }

    #logo-brand {
        width: auto;
    }
}